.custom-scroll {
    scrollbar-width: thin; 
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    margin-right: -4px;
    padding-right: 8px;

    overflow: auto;
}

.custom-scroll::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}

.custom-scroll::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

/*.custom-scroll::-webkit-scrollbar-track:vertical {
  background: linear-gradient(
    to right,
    transparent calc(50% - 0.5px),
    var(--scrollbar-back) calc(50% - 0.5px),
    var(--scrollbar-back) calc(50% + 0.5px),
    transparent calc(50% + 0.5px)
  );
}

.custom-scroll::-webkit-scrollbar-track:horizontal {
  background: linear-gradient(
    to bottom,
    transparent calc(50% - 0.5px),
    var(--scrollbar-back) calc(50% - 0.5px),
    var(--scrollbar-back) calc(50% + 0.5px),
    transparent calc(50% + 0.5px)
  );
}*/